/* GuideLine CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.text-cyan {
    color: rgb(14 116 144);
}
/* Dividers */

.divider {
    position: relative;
    height: 1px;
    width: 40%;
    margin: auto;
}

.divider2 {
    position: relative;
    height: 1px;
    width: 20%;
    margin: auto;
}

.div-down:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
    border-bottom: 0.01em solid rgba(48,49,51, 0.8);
    border-right: 0.01em solid rgba(48,49,51, 0.8);
}

.dashed-divider {
    border-top: 3px solid rgb(68, 67, 67);
    border-radius: 5px;
    width: 65%;
    margin: auto;
}

.neu-line {
    background-color: #E6E7EE;
    border: 1px solid #d1d9e6;
    border-radius: 5px;
    width: 65%;
    margin: auto;
    padding: 1px;
    -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}




/* Categories Carousel */
#carousel-section {
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 1px;
    -webkit-box-shadow: 20px 20px 40px #b8b9be, -3px -3px 6px rgb(255, 255, 255);
}

#carousel-section img {
    border-radius: 20px;
}

.carousel-text {
    margin-top: 10px;
    margin-bottom: 45px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}




/* Guidelines Buttons (Judge Page) */

.custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.jd-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.btn-6 {
    color: rgb(44, 44, 44);
    background: repeating-linear-gradient(90deg, #ffffff 0%, #ebebeb 50%, #ffffff 100%); padding-top: 10%; padding-bottom: 10%;
    line-height: 42px;
    border: none;
    padding: 18px;
    width: 40%;
    margin: auto;
    -webkit-animation: moving-gradient 800s linear infinite forwards;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-6:hover{
    background: transparent;
    color: #1ab1a4;
    box-shadow: none;
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6 span:before,.btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}

.btn-6:active {
    transition: all 500ms ease;
    height: 100%;
}

@keyframes moving-gradient{
    0%{background-position-x: 0%;}
    100%{background-position-x: 10000vw;}
}   





/* Menu */

ul.form {
    opacity: 0;
    position:fixed;
    background:#fff;
    width:13.5%;
    margin: 10px;
    margin-top: -270px;
    padding:0;
    list-style: none;
    overflow:hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);	
}

.form li a {
    width:225px;
    padding-left:10px;
    height:50px;
    line-height:50px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    font-size:11px;
    color:#686868;
    border-left:5px solid rgb(204 251 241);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;			
}

.form li a:hover {
    background:#efefef;
}

.form li:first-child a:hover, .form li:first-child a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.form li:last-child a:hover, .form li:last-child a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.form i {
    margin-right:15px;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;	
}

.form li.selected a {
    background:#efefef;
    border-left:5px solid rgb(15 118 110);
}
:target:before {
    content:"";
    display:block;
    height:100px; 
    margin:-100px 0 0; 
}

.show-div {
    animation: show 0.2s forwards;
}

.close-div {
    animation: close 0.2s forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
@keyframes close {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}



